<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular DOM and Events</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app>
    <div ng-init="yaeri=true; counter=0">
        <span ng-hide="yaeri">button is enabled</span>
        <span ng-show="yaeri">button is disabled</span>
        <button ng-disabled="yaeri" ng-click="counter=counter+1">Submit</button>
        <input type="checkbox" ng-model="yaeri">
    </div>
    <p>The button has been clicked {{ counter }} times</p>
</body>
</html>